%ul
  %li= @auth.userable.title
  //%li= image_tag(@truck.image_url)
  %li= @auth.userable.description
  %li= link_to(@auth.userable.twitter, "http://twitter.com/" + @auth.userable.twitter)
  %li= @auth.userable.phone

//= link_to('Edit Truck', edit_truck_path(@truck))
