#myModal.reveal-modal.transparent.small
  %h1.huge.white.pull_up FREE
  #fist= image_tag("https://dl.dropbox.com/u/5433755/lunchypunchy/fist.png")
  %h1.huge.white.pull_down MEAL!
  %a.close-reveal-modal x
