.row
  .large-12.columns.spacer
.row
  .large-6.large-centered.columns
    #card.hide
      %h1.cardtext.center my trucKlub card
      %h3.center I already ate 3 meals.
      <br>
      #boxes
        .box.full
          1
        .box.full
          2
        .box.full
          3
        .box
          4
        .box
          5
        .box
          6
        .box
          7
        .box
          8
        .box
          9