- if @auth
  %script
    = "var meal_count = #{@auth.userable.meal_count}"
.row
  .large-12.columns.spacer
.row
  .large-6.large-centered.small-10.small-centered.columns
    #card
      - if @auth
        %h1.cardtext.center=  @auth.name +  "'s trucKlub card"
        %h3.center=  "I already ate " + @auth.userable.meal_count + " meals!"

      <br>
      #boxes
        .box
          1
        .box
          2
        .box
          3
        .box
          4
        .box
          5
        .box
          6
        .box
          7
        .box
          8
        .box
          9
%script
  fill_card();
