* {
  letter-spacing: -.05em;
}

.spacer{
  height: 60px;
}
.spacer-small{
  height: 40px;
}
.hide{
  visibility: hidden;
}
li {
  list-style-type: none;
}

#map_canvas
{
  height: 600px;
  margin-left: 15%;
  margin-bottom: 50px;
  border: 2px solid black;
}


#card {
  width: 480px;
  height: 300px;
  box-shadow: 2px 2px 5px #777;
  padding: 16px;
  background-color: #F5F4B8;
}

.full{
  background-color: #C22708;
}

.box{
  height: 40px;
  width: 40px;
  text-align: center;
  border: 4px solid black;
  display: inline-block;
  margin-right: 6px;
  font-weight: bold;
  font-size: 2em;
  line-height: 30px;
}

.cardtext {
  margin-bottom: -10px;
  margin-top: 40px;
}

.center{
  text-align: center;
}

.pagestyle{
  border-radius: 5px;
  box-shadow: 2px 2px 5px #444;
  background-color: rgba(255, 255, 255, 0.9);
}
.flexible_gmap{
  width: 100%;
}
