* {
  letter-spacing: -.05em;
}

.spacer{
  height: 60px;
}
.hide{
  visibility: hidden;
}
li {
  list-style-type: none;
}

#map_canvas
{
  width: 450px;
  height: 600px;
  margin-bottom: 40px;
  border: 2px solid black;
}


#card {
  width: 480px;
  height: 300px;
  box-shadow: 2px 2px 5px #777;
  padding: 16px;
  background: url('card_bg.jpg');
}

.full{
  background-color: #C22708;
}

.box{
  height: 40px;
  width: 40px;
  text-align: center;
  border: 4px solid black;
  display: inline-block;
  margin-right: 6px;
  font-weight: bold;
  font-size: 2em;
  line-height: 30px;
}

.cardtext {
  margin-bottom: -10px;
  margin-top: 40px;
}

.center{
  text-align: center;
}
