<div class='fixed'>
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            trucKlub
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to('See our trucks', trucks_path) %></li>
        <li class="divider"></li>
        <% if @auth.is_eater? %>
        <li><%= link_to_function "My Loyalty Card", 'show_card();', :class => "button radius" %></li>
        <% end %>
      </ul>

      <ul class="right">
        <li class="divider"></li>
        <%== login_nav %>
        <li class="divider"></li>
        <li><%= link_to('Register', new_user_path) %></li>
        <li class="divider"></li>

      </ul>
    </section>
  </nav>
</div>
  <!-- End Top Bar -->