<nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            trucKlub
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>

        <%== login_nav %>


        <li class="divider"></li>
        <li><%= link_to('Register', '#') %></li>
        <li class="divider"></li>

      </ul>
    </section>
  </nav>

  <!-- End Top Bar -->